.btn {
    border: none;
    cursor: pointer;
    background-color: $color-neutral-200;
    padding: 8px 24px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0;
        inset: 50%;
        border-radius: 8px;
        z-index: 0;
        transition: .08s linear;
    }

    &.lg {
        height: 56px;
    }

    &.md {
        height: 48px;

        .text {
            font: $font-text-p-b;
        }
    }

    &.sm {
        height: 40px;
    }

    &.xs {
        height: 32px;
    }

    &.xxs {
        height: 24px;
    }

    .text {
        font-weight: 600;
        color: $color-neutral-400;
        z-index: 1;
    }

    &.primary {
        background-color: $color-primary-600;

        .text {
            color: $color-neutral-0;
        }
    }

    &.secondary {
        background-color: transparent;
        border: 1px solid $color-primary-600;

        &::after {
            background-color: $color-primary-600;
        }

        .text {
            color: $color-primary-600;
        }
    }

    &.disabled, &:disabled {
        opacity: .4;
        cursor: not-allowed;
    }

    &:hover {
        &::after {
            opacity: .08;
            inset: 0;
        }
    }

    &:active {
        &::after {
            opacity: .16;
            inset: 0;
        }
    }
}

.link {
    font-weight: 600;

    &.primary {
        color: $color-primary-600;
    }
}